%button.btn.btn-link{ type: 'button', data: { filter_type_value: 'new', action: 'click->filter#call'}} New
%button.btn.btn-link{ type: 'button', data: { filter_type_value: 'old', action: 'click->filter#call'} } Old
